.dashboardForm {
  display: flex;
  flex-direction: column;
  flex: 0 0 360px;
}
.dashboardForm h4 {
  text-align: center;
}

.formBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  border-radius: var(--site-border-radius-lg);
  background-color: var(--site-bgr-light);
  padding: var(--site-gap-lg) var(--site-gap-md);
  min-height: 160px;
}

.formBlock > input,
.formBlock > textarea,
.formBlock > select {
  margin-bottom: var(--site-gap-sm);
  min-height: 40px;
  border: 0;
}

.formBlock form > button {
  margin-top: var(--site-gap-sm);
}

.hiddenInput {
  display: none;
}

.uploadLabel {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.placeholderText {
  color: var(--site-font-dark-color);
  font-size: var(--site-font-size-xs);
  font-style: italic;
}

.preview {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--site-gap-sm);
  height: 40px;
  overflow: hidden;
  padding: 0 var(--site-gap-md);
}

.preview img {
  height: 24px;
  width: auto;
  border-radius: 4px;
}

.formBlock + p {
  height: 40px;
  padding-top: 4px;
  text-align: center;
}

.dashboardForm input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: var(--site-font-dark-color);
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  transition: all 0.2s ease;
}

.dashboardForm input[type="checkbox"]:checked {
  background-color: var(--site-accent-color);
}

.marginTop {
  margin-top: var(--site-gap-md);
}

.hintLink {
  text-decoration: none;
  color: var(--site-primary-color);
  transition: color var(--transition-speed);
}

.hintLink:hover {
  color: var(--site-accent-color);
  transition: color var(--transition-speed);
}

.error {
  display: flex;

  justify-content: center;
  color: var(--site-primary-color);
  font-size: var(--site-font-size-xs);
}
