.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 48px 0 var(--site-gap-md) 0;
  gap: var(--site-gap-sm);
  padding: var(--site-gap-md) 0;
}

.footer a img {
  filter: brightness(1);
  transition: filter var(--site-transition-speed);
}

.footer a:hover img,
.footer a:focus img {
  filter: brightness(0.7);
}

.copyright {
  font-size: var(--site-font-size-xs);
  color: var(--site-font-light-color);
}

@media (min-width: 768px) {
  .footer {
    margin: 96px 0 var(--site-gap-md);
    gap: var(--site-gap-md);
  }
}
