/* Button.module.css */

.btn {
  all: unset;
  min-width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--site-gap-sm) var(--site-gap-md);
  border-radius: var(--site-border-radius);
  font-size: var(--site-font-size-base);
  background: var(--site-font-dark-color);
  font-weight: 700;
  cursor: pointer;

  transition: transform 0.15s ease, opacity var(--site-transition-speed);
}

.btn:active {
  transform: scale(0.94);
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btnSecondary {
  background: var(--site-secondary-button-color);
  color: var(--site-bgr-color);
}

.btnPrimary {
  background: var(--site-font-dark-color);
  color: var(--site-bgr-color);
}

.btn:hover,
.btn:focus {
  filter: brightness(1.3);
}
