.dashboardPanels {
  width: 100%;
  display: flex;
  gap: var(--site-gap-md);
}

.dashboardsInfo {
  flex: 1;
  border-radius: var(--site-border-radius-lg);
  padding: 0 var(--site-gap-sm);
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
}

.hint {
  display: flex;
  flex-direction: column;
  border-radius: var(--site-border-radius-lg);
  padding: var(--site-gap-sm);
  background-color: var(--site-bgr-light);
  min-height: 160px;
}

.hint p {
  background-color: var(--site-bgr-color);
  padding: var(--site-gap-md);
  border-radius: var(--site-border-radius);
  height: 100%;
}

.empty {
  width: 100%;
  text-align: center;
  background-color: var(--site-bgr-light);
  padding: var(--site-gap-md);
  border-radius: var(--site-border-radius-lg);
}

.btnPanel {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--site-gap-md);
  margin-bottom: var(--site-gap-sm);
  gap: var(--site-gap-sm);
}

.btnPanel > :nth-child(1) {
  min-width: 120px;
  width: 140px;
  margin-left: calc(50% - 70px);
}

.btnPanel > :nth-child(2) {
  min-width: 40px;
  width: 60px;
  font-size: 34px;
  line-height: 1;
  height: 40px;
  margin-right: var(--site-gap-md);
}

.saleList {
  display: flex;
  flex-direction: column;
  gap: var(--site-gap-md);
  height: calc(3 * 128px + 2 * var(--site-gap-md));
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: var(--site-gap-md);
  scroll-snap-type: y mandatory;
  max-height: calc(4 * 150px + 3 * var(--site-gap-md));
}
